{% extends "gcm_app/base.html" %}
{% load cs_custom %}
{% block title %} Commit History {% endblock %}

{% block content %}

{% set last_student = "" %}
{% for com in commit_history %}
    {% if last_student != com.commit_user %}
        <h3>{{ com.commit_user }}</h3>
        {% set last_student = com.commit_user %}
    {% endif %}
<p>{{ com.commit_url | regex1:"(?:https://api.github.com/repos/)(.*)(?:/commits)"}}</p>
<p>{{ com.commit_date }}</p>
<a target="_blank" href="{{ com.commit_url }}">
    {{ com.commit_msg }}
</a>


<hr/>
{% endfor %}


{% endblock content %}
