header {
    /*border-bottom: 1px solid darkgray;*/
    /*margin-bottom: 20px;*/
    /*padding-bottom: 10px;*/
}

.jumbotron {
    height: 220px;
}

/*Extra Grid Styling*/
img {
    /*padding:1px;*/
    border:1px solid #021a40;
    background-color:#ff0;
}

body {
    margin: 40px;
}

.sidebar {
    grid-area: sidebar;
    background-color: antiquewhite;
    padding: 10px;
}

.content {
    grid-area: content;
    position: inherit;
}

th, td {
    padding: 10px;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wiki_post_text {
    vertical-align: text-top;
    margin-right: 10px;
    padding-top: 10px;
}

.wiki_post_title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: x-large;
}

/*.wiki_post_item {*/
    /*display: grid;*/
    /*grid-gap: 10px;*/
    /*grid-template-columns: 1fr 1fr 200px;*/
    /*grid-template-areas:*/
            /*"wiki_post_title wiki_post_title sidebar"*/
            /*"wiki_post_text wiki_post_img sidebar";*/
/*}*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: 1fr 1fr 200px;*/
    grid-template-areas:
            "header  header  header"
            "content content content"
            "footer  footer  footer";
    background-color: #fff;
    color: #444;
}

.wikipost_main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 20px 1fr ;
    grid-template-areas:
            "wiki_post_title ."
            "wiki_post_text wiki_post_img";
}

.wikipost_item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px;
    grid-template-rows: 1fr;
    grid-template-areas:
            "wiki_post_item_title"
            "wiki_post_item_img"
            "wiki_post_item_text";
}


.box {
    /*background-color: #999;*/
    /*color: #fff;*/
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;

}

.header,
.footer {
    background-color: burlywood;
    font-size: 150%;
}

td.wiki_entry_title {
    font-size: 150%;
}